body {
	text-align: center;
}
table, thead, tbody, th, tr, td {
	border: 1px solid black;
}
table {
	background-color: cadetblue;
}
thead {
	font-weight: bold;
	background-color: sandybrown;
}
thead .buy {
	background-color: lightgreen;
}
thead .sell {
	background-color: indianred;
}
tbody {
	font-size: small;
	font-family: monospace;
	background-color: antiquewhite;
}
hr {
	margin: 18px;
}
button {
	margin: 8px;
}
#maintable {
	display: flex;
	flex-direction: column;
}
.alert {
	width: 650px;
	height: 60px;
	background-color: ghostwhite;
	margin: auto auto 15px;
	position: relative;
}
#status {
    color: dimgrey;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}
