body {
	text-align: center;
}
table, thead, tbody, th, tr, td {
	border: 1px solid black;
}
table {
	background-color: cadetblue;
}
thead {
	font-weight: bold;
	background-color: sandybrown;
}
tbody {
	font-size: small;
	font-family: monospace;
	background-color: antiquewhite;
}
.buy {
	background-color: lightgreen;
}
.sell {
	background-color: indianred;
}
.flex-container {
	display: flex;
	flex-direction: column;
}
.flex-item {
	width: 200px;
	height: 20px;
	margin: auto;
}
.alert {
    width: 650px;
    margin: auto;
    height: 70px;
    background-color: ghostwhite;
    margin-bottom: 15px;
    position: relative;
}
#status {
    color: dimgrey;
    padding: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 50%;
    margin: auto;
}
